/* .small-button-section,
.medium-button-section,
.large-button-section,
.request-button-styles,
.request-button-styles-accepted {
  padding: 8px 20px;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
  outline: none;
}

.request-button-styles {
  background-color: #fff;
  border: 2px solid  #172AD2;
  color: #172AD2;
}

.request-button-styles-accepted {
  background: #51CF58;
} */

.small-button-section {
  width: 100%;
}

.medium-button-section {
  width: 350px;
}

.large-button-section {
  width: 85%;
}

/* .page-mini-header {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.extra-heading-span {
  color: #2a57d3;
} */

.full-screen-modal-section {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(3, 7, 44, 0.63);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.inner-full-screen-modal-section {
  width: 40%;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  padding: 20px;
}

.inner-full-screen-modal-section .fa-times-circle {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #e63950;
  font-size: 30px;
}

.full-screen-modal-section-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-screen-modal-section-icon i {
  position: unset;
  font-size: 60px;
  color: #ffd500;
}

.reset-link-header-section,
.reset-link-content-section {
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  color: #03072c;
  margin-top: 10px;
}

.reset-link-content-section {
  color: #868899;
  font-size: 14px;
  font-weight: 500;
}

.reset-link-content-section span {
  font-weight: bold;
  color: #03072c;
  font-size: 13px;
}

.routes-section-card {
  background-color: #f6f7fe;
  padding: 30px 30px 0 150px;
  min-height: 92vh;
}

.main-routes-card-header {
  font-weight: 700;
  color: #03072c;
  font-size: 40px;
  margin-bottom: 5px;
}

.mini-routes-card-header {
  color: #868899;
  font-size: 16px;
}

.inner-nest-routes-header {
  display: flex;
  padding: 10px 0;
  border-bottom: 2px solid #eaeaea;
  margin-bottom: 10px;
}

.inner-nest-routes-header a {
  text-decoration: none;
  font-size: 13px;
  margin-right: 20px;
}

.inner-routes-card-one {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  margin: 30px 0;
}

.inner-routes-card-two {
  margin: 30px 0;
  max-height: 65vh;
}

.inner-routes-card-two-innner-section {
  display: flex;
  background-color: #fff;
  border: 5px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 4px 4px 24px 4px rgba(134, 136, 153, 0.12);
  margin-bottom: 15px;
}

.inner-routes-card-two-left,
.inner-routes-card-two-right {
  flex: 4;
}

.inner-routes-card-two-right {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.product-card-section {
  box-shadow: 4px 4px 24px 4px rgba(134, 136, 153, 0.12);
  padding: 15px 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
}

.product-card-section-header {
  color: #03072c;
  font-size: 24px;
  font-weight: 700;
}

.product-card-section-photo {
  margin-top: 10px;
  width: 80px;
  height: 80px;
  background-color: #03072c;
  border-radius: 50%;
  box-shadow: 3px 4px 22px 8px rgba(146, 149, 174, 0.28);
}

.product-card-section-seller {
  margin-top: 10px;
  display: flex;
  width: 100%;
}

.product-card-section-seller div {
  font-size: 12px;
  margin: 10px auto;
  color: #868899;
  font-weight: bold;
  padding: 0 5px;
  text-align: center;
}

.date-recieved-total-amount {
  display: grid;
  grid-template-columns: 2fr 7fr 7fr;
  border-bottom: 1px solid #EAEAEA;
  border-top: 1px solid #EAEAEA;
  padding: 5px 20px;
  width: 100%;
}

.date-recieved-total-amount h4 {
  font-size: 12px;
  color: #868899;
  font-weight: bold;
}

.date-recieved-total-amount h5 {
  color: #03072c;
  font-size: 14px;
  font-weight: bold;
}

.date-recieved-total-amount-second {
  text-align: center;
  padding: 5px 10px;
}

.border-right-importance {
  border-right: 1px solid #EAEAEA;
}

.date-recieved-total-amount-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-recieved-total-amount-icon-inner {
  position: relative;
  display: flex;
  align-items: center;  
  justify-content: center;
}

.circular-tick-section {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #A9FFAD;
}

.circular-tick-section-failed {
  background: #FFDCDC;
}

.date-recieved-total-amount-icon svg {
  position: absolute;
}

.recieved-button-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 20px 10px;
}

.current-navlink {
  font-weight: bold;
  color: #03072c;
}

.product-title-and-price-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  font-weight: bold;
  width: 80%;
  grid-column-gap: 10px;
}

.product-title-and-price {
  display: flex;
  align-items: center;
  margin: 5px 0 15px;
}

.date-of-order-product-header {
  font-size: 12px;
  color: #868899;
  font-weight: 600;
  margin-bottom: 4px;
}

.date-of-order-product-content {
  font-size: 14px;
  color: #03072C;
  font-weight: bold;
}

.product-title-and-price-image {
  width: 32px;
  height: 32px;
  background-color: #03072C;
  border-radius: 50%;
  margin-right: 10px;
}

.product-title-and-price-image-first {
  color: #03072C;
  font-size: 20px;
  font-weight: 600;
  margin-right: 5px;
}

.product-title-and-price-image-second {
  color: #172AD2;
  font-size: 20px;
  font-weight: 600;
  margin-left: 5px;
}

.dot-svg-section {
  margin-right: 5px;
}

.inner-routes-card-two-right-first,
.inner-routes-card-two-right-second {
  margin-right: 10px;
}
