.main-login-section {
  display: flex;
}

.welcome-section,
.display-logo-section {
  flex: 1;
}

.welcome-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-email-section,
.login-password-section {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.login-password-input,
.login-email-input {
  position: relative;
}

i {
  cursor: pointer;
  position: absolute;
  right: 18%;
  top: 10px;
  color: #666;
}

.login-forgot-password-section {
  font-family: 'Source Sans Pro', sans-serif;
  color: #2A57D3;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.dont-have-account {
  color: #666;
  font-size: 14px;
  margin-top: 15px;
  font-weight: bold;
}

.dont-have-account a {
  text-decoration: none;
}