* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.main-page-blue {
  background-color: #2a57d3 !important;
}

.main-page-yellow {
  background-color: #ffc735 !important;
}

@media screen and (max-width: 480px) {
  .main-logo-section { display: none; }
}

/* Scroll bar */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;

  /* border-radius: 20px; */
  border: 3px solid #f1f1f1;
}

/* Scroll bar */

.settings-image-background {
  background: rgba(0, 0, 0, 0.3);
}

.create-product-container {
  position: relative;
  box-shadow: 3px 4px 22px 8px rgba(146, 149, 174, 0.28);
  border-radius: 50%;
}

.file-upload-input {
  z-index: 10;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
